html {
  margin: 2em;
  background: lightgray;
  background-image: url("images/bgmama-opacity50.jpg");
  font-family: 'Bebas Neue', arial;
}

header {
  display: flex;
  justify-content: space-between;
}

h1 {
    font-size: 60px;
    margin-top: 0;
}

h2 {
    font-size: 28px;
    margin-top: 2em;
}

body {
  /* border: 1px solid red; */
  max-width: 60em;
  padding: 0em;
  margin: 0 auto;
}

.logo {
  width: 120px;
}

#precos {
  display: grid;
  grid-template-columns: 22em auto;
  grid-template-areas: 
    "header header"
    "nome   value";
  column-gap: 0;
  row-gap: 0;
}

#precos>div:first-of-type {
  color: white;
  background: purple;
}

#precos div {
  /* border: 1px solid red;
  color: red; */
  border: 1px solid lightgray;
  background: white;
  padding: 1em;
}
