@font-face {
  font-family: YoungSerif;
  src: url(assets/YoungSerif-Regular.otf);
}

em {
  font-weight: bold;
  font-style: normal;
  text-shadow: 0.5px 0 0 currentColor;
  color: #3f1e59;
}

a {
  text-decoration: none;
}

em:hover {
  text-decoration: none;
  color: #be57ff;
  text-shadow: 0.5px 0 0 currentColor;
}

html {
  margin: 2em;
  background: lightgray;
  background-image: url("images/bgmama-opacity50.jpg");
  font-family: 'YoungSerif';
  color: #3f1e59;
  /* font-family: 'Bebas Neue', arial; */
}

header {
  display: flex;
  justify-content: space-between;
}

h1 {
    font-size: 60px;
    margin-top: 0;
}

h2 {
    font-size: 28px;
    margin-top: 2em;
}

body {
  /* border: 1px solid red; */
  max-width: 60em;
  padding: 0em;
  margin: 0 auto;
}

.logo {
  width: 120px;
}

#turma {
  display: flex;
}

#precos {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-areas: 
    "header header"
    "nome   value";
  column-gap: 0;
  row-gap: 0;
}

#precos>div:first-of-type {
  color: white;
  background: #be57ff;
}

#precos div {
  /* border: 1px solid red;
  color: red; */
  background: #dca3ff;
  padding: 1em;
}
